.login-container {
  height: 100vh;
  background: linear-gradient(to right, #0f766e, #115e59);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 350px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 25px rgba(0,0,0,0.2);
}

.login-header {
  background: #0f766e;
  color: white;
  padding: 15px;
  text-align: center;
}

.form-group {
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.options {
  padding: 0 20px;
}

.login-btn {
  width: 90%;
  margin: 15px auto;
  display: block;
  padding: 10px;
  background: #0f766e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background: #115e59;
}

.forgot {
  text-align: center;
  color: #0f766e;
  cursor: pointer;
  padding-bottom: 15px;
}
.register-link {
  text-align: center;
  padding-bottom: 15px;
}